*{
    box-sizing: border-box;
    margin : 0;
    padding : 0;
}
body{
    font-family: sans-serif;
    background-image: url("./img/img1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100VH;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 4rem;
    background: -webkit-linear-gradient(rgb(255, 255, 255),rgb(221, 74, 74));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.container{
    display:flex;
    align-items: center;
    justify-content: center;
}
.container__time{
    margin : 10px;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 300px;
    color: rgb(29, 23, 23)
}
